body{
    background-image: url(../4.jpg);
    background-position: absolute;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}

ul
{
    float: right;
    margin:20px;
}

ul li {
    display: inline-block;
}
ul li a{
    text-decoration: none;
    color: white;
    padding: 5px 20px;
    margin: 20px;
    font-size: 20px;
    border: 2px solid red;
    background-color: black;

}

ul li a:hover{
    background-color: grey;
}
.title
{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 90px;
    color:red;
    text-decoration: underline;
    text-shadow:2px 2px 5px yellow;
    
}
.button{
    position: absolute;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.btn{
    text-decoration: none;
    padding: 5px 25px;
    border: 2px solid red;
    color: #ffff;
    margin:30px;
    font-size: 25px;
    background-color: black;
    
}
.btn:hover{
    background-color: blue;
    color:white;
}
h2{
    margin: 5px;
    padding:20px ;
    font-size: 30px;
    color: white;
    background-color: grey;
}